<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Test.styles.css" asp-append-version="true" />
    @RenderSection("AddToHead", required: false)
</head>
<body>
    <header>
        <nav class="navTop">
            <div class="navLeft">
                <ul class="navItem">
                    <a class="logofont" asp-area="" asp-controller="Home" asp-action="Index", style="color: whitesmoke">Join Me</a>
                    <li>
                        <a asp-area="" asp-controller="Post" asp-action="Index" , style="color: whitesmoke">Home</a>
                    </li>
                </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <ul class="navItem">
                        <li>
                            <a asp-area="" asp-controller="Post" asp-action="Create", style="color: whitesmoke">Post</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Post" asp-action="MyPost" , style="color: whitesmoke">My Posts</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Post" asp-action="MyActivity" , style="color: whitesmoke">My Activities</a>
                        </li>
                    </ul>
                    }
            </div>

            <div class="navRight">
                <div class="searchBox">
                    <form asp-controller="Post" asp-action="Search">
                        <input name="searchString" type="text" placeholder="Search for a post...">
                    </form>
                </div>
                <ul class="navItem">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="/Identity/Account/Login">Login</a>
                        </li>
                        <li>
                            <a href="/Identity/Account/Register">Register</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/notification">Notifications</a>
                        </li>
                        <li>
                            <a href="/Identity/Account/Logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main class="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @Html.Partial("_ExpiredPosts")
</body>
</html>
