﻿@using Test.Data.Enum
@model Post
@section AddToHead {
	<link href="@Url.Content("~/css/create.css")" rel="stylesheet" type="text/css" />
}
@{
	ViewData["Title"] = "Create a Post";
}

<div class="form-wrapper">
	<p>
		<h1>Create a Post</h1>
	</p>
	<div class="form-details">
		<form asp-controller="Post" asp-action="Create" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control des" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NumberOfParticipants" class="control-label"></label>
				<input asp-for="NumberOfParticipants" class="form-control" min="0" value="" />
				<span asp-validation-for="NumberOfParticipants" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Tag" class="control-label"></label>
				<select asp-for="Tag" class="form-control" asp-items="Html.GetEnumSelectList<Tag>()">
					<option hidden disabled selected value=""> -- select an option -- </option>
				</select>
				<span asp-validation-for="Tag" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Location" class="control-label"></label>
				<input asp-for="Location" class="form-control des" />
				<span asp-validation-for="Location" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ExpireTime" class="control-label"></label>
				<input asp-for="ExpireTime" class="form-control" />
				<span asp-validation-for="ExpireTime" class="text-danger"></span>
				@if (ViewData["WrongExpireTime"] != null)
				{
					<span class="text-danger">@ViewData["WrongExpireTime"]</span>
				}
			</div>
			<div class="form-group">
				<input type="submit" value="Post" class="btn btn-outline-success float-right" />
			</div>
		</form>
	</div>
</div>