@using Test.Data.Enum
@model IEnumerable<Post>
@section AddToHead {
    <link href="@Url.Content("~/css/myact.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "My Activities";
}

<div class="center">
    <h2>My Activities</h2>
    @await Component.InvokeAsync("PostList", new {posts = Model})
</div>