@using Test.Data.Enum
@model string

@section AddToHead {
    <link href="@Url.Content("~/css/my.css")" rel="stylesheet"/>
}
@{
    ViewData["Title"] = "My Posts";
}

<h1>My Posts</h1>
@nameof(Test.ViewComponents.PostListViewComponent);
@await Component.InvokeAsync("PostList", new {posts = Model})
