@model IEnumerable<Notification>
@section AddToHead {
    <link href="@Url.Content("~/css/notification.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "My Notifications";
}

<div class="notiBox">
    <div class="topBox">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="contentBox">
        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>

        <div class="notiContent">
            <div class="status">
                <p>aaaaa</p>
            </div>
            <div class="title">
                <p>aaaaa</p>
            </div>
            <div class="toPostBtn">
                <button></button>
            </div>
        </div>
    </div>
</div>

