@model IEnumerable<Notification>
@section AddToHead {
    <link href="@Url.Content("~/css/notification.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "My Notifications";
}

<div class="notiBox">
    <div class="topBox">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="contentBox">
        @foreach (var item in Model)
        {
            <div class="notiContent">
                <div class="status">
                    <p>@item.Status</p>
                </div>
                <div class="title">
                    <p>@item.Title</p>
                </div>
                <div class="toPostBtn">
                    <button onclick="window.location.href='notification/read/@item.Id';"></button>
                </div>
            </div>
        }
    </div>
</div>

