@page
@model RegisterModel
@section AddToHead {
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/sharedStyles.css")" rel="stylesheet" type="text/css" />
}

<div class="align-content-center">
    <form class="form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="error" role="alert"></div>
        <div class="register">
            <h1>Register</h1>
            <h3>Create a new account.</h3>
            <div>
                <input asp-for="Input.Fullname" class="input" aria-required="true" placeholder="Full Name" />
            </div>
            <div>
                <span asp-validation-for="Input.Fullname" class="error"></span>
            </div>
            <div>
                <input asp-for="Input.Email" class="input" autocomplete="email" aria-required="true" placeholder="Email" />
            </div>
            <div>
                <span asp-validation-for="Input.Email" class="error"></span>
            </div>
            <div>
                <input asp-for="Input.UserName" class="input" autocomplete="username" aria-required="true" placeholder="User Name" />
            </div>
            <div>
                <span asp-validation-for="Input.UserName" class="error"></span>
            </div>
            <div>
                <input asp-for="Input.Password" class="input" autocomplete="new-password" aria-required="true" placeholder="Password" />
            </div>
            <div>
                <span asp-validation-for="Input.Password" class="error"></span>
            </div>
            <div>
                <input asp-for="Input.ConfirmPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
            </div>
            <div>
                <span asp-validation-for="Input.ConfirmPassword" class="error"></span>
            </div>
            <button id="registerSubmit" type="submit">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
