.index-container {
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}

.welcome-segment {
    font-size: 1.8em;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10vw;
}

    .welcome-segment span {
        padding-bottom: 2px;
        border-bottom: 2px solid cornflowerblue;
    }

    .welcome-segment b {
        color: white;
        padding: 5px;
        padding-inline: 10px;
        background-color: cornflowerblue;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }

.content-container {
    position: relative; 
    display: flex;
    justify-content: start;
}

.tag-container {
    left: 0px;
}

    .tag-container h3 {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
        box-shadow: 0px 2px 5px grey;
        background-color: white;
        text-align: center;
    }

    .tag-container ul {
        left: 0px;
        list-style-type: none;
        padding-left: 0;
    }

.tag-selector {
    box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.3);
    width: 90%;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(71, 123, 220);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

    .tag-selector a {
        user-select: none;
        font-weight: 600;
        color: white;
        text-decoration: none;
        transition: 0.3s;
    }

        .tag-selector a:hover {
            cursor: pointer;
            color: rgb(232, 206, 29);
        }

    .tag-selector:hover {
        background-color: rgb(102, 153, 255);
        text-align: right;
        width: 110%;
    }

.post-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}