a {
    text-decoration: none;
    color: inherit;
}
.row {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}
.crd {
    border-radius: 12px;
    padding: 16px 18px;
    min-width: 430px;
    width: 560px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

}
.crd .header {
    display: flex;
    justify-content: space-between;
}
.crd .header .left {
    display: flex;
    flex-direction: column;
}
.crd .title {
    font-size: 20px;
    line-height: 100%;
    font-weight: 700;
}
.crd .number {
    font-size: 30px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: ;
    border-radius: 9px;
}

.crd .header .time {
    margin-top: 6px;
}
.crd .foot .time {
    
}
.crd .header .right {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
.crd .status {
    font-size: 18px;
    font-weight: 700;
}

.crd .content {
    margin: 16px 0px 20px;
}
.crd .text {
    font-size: 14px;
}
.crd .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.crd .tag {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 9px;
    padding: 2px 12px 5px;
}
    .crd .tag:hover {
        box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.05);
    }

.crd .foot .right {
    color: rgba(0, 0, 0, 0.4);
}